<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Prêmios Emerok</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <a href="/login">Login</a>
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                {% for header in headings %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=1) %}
            {% for row in prizes %}
            <tr>
                <td scope="row" style="text-align: center; padding: 7px;">{{ count.value }}</td>
                <td scope="row" style="text-align: center; padding: 7px;"><a href="http://www.twitch.tv/{{row.name}}">{{
                        row.name
                        }}</a></td>
                <td scope="row" style="text-align: center; padding: 7px;">{{ row.prize }}</td>
                <td scope="row" style="text-align: center; padding: 7px;">{{ row.date }}</td>
            </tr>
            {% set count.value = count.value + 1 %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>